<footer class="ui inverted vertical footer segment">
  <div class="ui text container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">History</a>
          <a href="#" class="item">Testimonies</a>
          <a href="#" class="item">Development</a>
          <a href="#" class="item">How we started</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Subscriptions</a>
          <a href="#" class="item">Book Online</a>
          <a href="#" class="item">Pay Online</a>
        </div>
      </div>
      <div class="eight wide column">
        <h4 class="ui inverted header">Footer Header</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in fringilla risus. Sed purus dui, condimentum.
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="/events/events.js"></script>
</body>

</html>