<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/vendors/leaflet-v1.6.0.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <script src="/vendors/fontawesome.js"></script>
  <script src="/vendors/jquery.min-v3.1.1.js"></script>
  <script src="/vendors/semantic.min-v2.4.2.js"></script>
  <script src="/vendors/leaflet-v1.6.0.js"></script>
  <title>Yelp Camp</title>
</head>

<body>
  <nav class="ui borderless main menu">
    <div class="ui text container">

      <div class="header item">
        <span><i class="bandcamp icon"></i>Yelp Camp</span>
        <% if (user !== undefined) { %>
        <a href="/campgrounds/camps" class="item item_custom">Home</a>
        <a href="/campgrounds/camps/new" class="item item_custom">Add</a>
        <a href="/campgrounds/users/me" class="item item_custom">Profile</a>
        <a href="/campgrounds/users/logout" class="item item_custom">Logout</a>
        <% } %>

      </div>

      <div class="nav options">
        <% if (user === undefined) { %>
        <a href="/campgrounds/camps" class="item item_custom">Home</a>
        <a href="/campgrounds/users/login" class="item item_custom">Login</a>
        <a href="/campgrounds/users/signup" class="item item_custom">Sign Up</a>

        <% } else { %>
        <span class="item">
          Good day, &nbsp <strong><%= user.username %></strong>
        </span>

        <% if(role != null) { %>
        <span class="item">
          Role: ADMIN
        </span>
        <% } %>
        <% } %>
      </div>

      <div class="nav options_hamburger">
        <div class="content">
          <div class="ui inline dropdown dropdown_nav">
            <i class="list ul icon"></i>
            <div class="menu">

              <% if (user !== undefined) { %>
              <a href="/campgrounds/camps" class="item">Home</a>
              <a href="/campgrounds/camps/new" class="item">Add</a>
              <a href="/campgrounds/users/me" class="item">Profile</a>
              <a href="/campgrounds/users/logout" class="item">Logout</a>
              <% } %>


              <% if (user === undefined) { %>
              <a href="/campgrounds/camps" class="item">Home</a>
              <a href="/campgrounds/users/login" class="item">Login</a>
              <a href="/campgrounds/users/signup" class="item">Sign Up</a>

              <% } else { %>
              <span class="item">
                Good day, &nbsp <strong><%= user.username %></strong>
              </span>

              <% if(role != null) { %>
              <span class="item">
                Role: ADMIN
              </span>
              <% } %>
              <% } %>

            </div>
          </div>
        </div>
      </div>

    </div>

    <script>
      $('.ui.dropdown.dropdown_nav')
        .dropdown()
        ;
    </script>

  </nav>