.hidden {
  display: none; }

* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }

nav.ui.borderless.main.menu {
  background-color: #173F5F;
  border-radius: 0px;
  margin-bottom: 0px;
  width: 100%; }
  nav.ui.borderless.main.menu div.ui.text.container {
    display: flex; }
    nav.ui.borderless.main.menu div.ui.text.container div.header {
      padding: 5px;
      margin: 0px 5px; }
      nav.ui.borderless.main.menu div.ui.text.container div.header span {
        margin: 0px 5px; }
      nav.ui.borderless.main.menu div.ui.text.container div.header a {
        display: block;
        width: 80px;
        text-align: center; }
      nav.ui.borderless.main.menu div.ui.text.container div.header a.item:hover, nav.ui.borderless.main.menu div.ui.text.container div.header a.item:active {
        background-color: #20639B; }
    nav.ui.borderless.main.menu div.ui.text.container div.header.item, nav.ui.borderless.main.menu div.ui.text.container a.item, nav.ui.borderless.main.menu div.ui.text.container span, nav.ui.borderless.main.menu div.ui.text.container item {
      color: white;
      padding: 5px; }
    nav.ui.borderless.main.menu div.ui.text.container a.item, nav.ui.borderless.main.menu div.ui.text.container span, nav.ui.borderless.main.menu div.ui.text.container item {
      padding: 10px; }
    nav.ui.borderless.main.menu div.ui.text.container div.nav.options {
      display: flex;
      justify-content: flex-end;
      width: inherit;
      padding: 5px; }
      nav.ui.borderless.main.menu div.ui.text.container div.nav.options a.item:hover, nav.ui.borderless.main.menu div.ui.text.container div.nav.options a.item:active {
        background-color: #20639B; }

header#headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1510312305653-8ed496efae75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: overlay; }
  header#headline div#banner-parent-continer {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0px;
    margin: 0px auto; }
  header#headline div#headlineContainer {
    height: 100%; }
    header#headline div#headlineContainer h1, header#headline div#headlineContainer span {
      color: white;
      text-align: center; }
    header#headline div#headlineContainer h1 {
      font-size: 5em;
      font-weight: bold; }
    header#headline div#headlineContainer i.fas {
      display: block;
      text-align: center;
      font-size: 5em;
      color: #F6D55C; }
    header#headline div#headlineContainer hr {
      border: 1px solid rgba(255, 255, 255, 0.25); }
    header#headline div#headlineContainer span {
      display: block;
      margin: 3% 0px;
      font-size: 2em;
      line-height: 25px; }
    header#headline div#headlineContainer form {
      display: flex;
      justify-content: center;
      margin-top: 3%; }
      header#headline div#headlineContainer form div.input {
        width: 60%; }
        header#headline div#headlineContainer form div.input input {
          display: block;
          margin: 0px auto;
          background-color: transparent;
          border: 1px solid white;
          color: white; }
          header#headline div#headlineContainer form div.input input::placeholder {
            color: white !important; }

section#campgroundParentContainer {
  height: fit-content; }
  section#campgroundParentContainer button.positive.ui.button {
    color: rgba(0, 0, 0, 0.5) !important; }
    section#campgroundParentContainer button.positive.ui.button:hover {
      color: rgba(0, 0, 0, 0.9) !important; }
  section#campgroundParentContainer div#campgroundContainer {
    width: fit-content;
    margin: 2.5% auto;
    display: flex;
    justify-content: center; }
    section#campgroundParentContainer div#campgroundContainer article#sidebar {
      /* Google Maps */ }
      section#campgroundParentContainer div#campgroundContainer article#sidebar div#sidebarNavigation {
        width: 20vw;
        position: sticky;
        top: 10px;
        background-color: #F6D55C;
        border-color: #F6D55C; }
        section#campgroundParentContainer div#campgroundContainer article#sidebar div#sidebarNavigation a {
          font-weight: bold;
          color: rgba(0, 0, 0, 0.5) !important; }
          section#campgroundParentContainer div#campgroundContainer article#sidebar div#sidebarNavigation a:hover {
            color: rgba(0, 0, 0, 0.9) !important; }
      section#campgroundParentContainer div#campgroundContainer article#sidebar div#map {
        outline: 1px solid white;
        height: 400px;
        width: 100%; }
    section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card {
      width: 45vw; }
      section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.image {
        width: 45vw; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.image img {
          width: 45vw; }
      section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content {
        width: 45vw; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content span.header {
          display: inline;
          color: #173F5F; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content div#priceContainer {
          display: inline;
          float: right; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content div#priceContainer span#pricetag {
            font-size: 1.25rem;
            margin: 0px; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content div.meta {
          width: fit-content; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content div.meta span.date {
            color: #3CAEA3; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content div.description {
          width: fit-content;
          text-align: justify; }
      section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list {
        width: 45vw; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div#buttons-container {
          display: flex;
          justify-content: flex-end;
          position: relative; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div#buttons-container div.editCommentContainer a#editButton {
            background-color: #f2711c !important;
            color: white !important; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div#buttons-container form.deleteCampground {
            display: flex;
            justify-content: flex-end; }
            section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div#buttons-container form.deleteCampground div.inline.fields {
              display: flex;
              justify-content: flex-end; }
              section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div#buttons-container form.deleteCampground div.inline.fields div#one-wide-field {
                display: flex;
                justify-content: flex-end; }
                section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div#buttons-container form.deleteCampground div.inline.fields div#one-wide-field button#deleteButton {
                  background-color: #db2828 !important;
                  color: white !important; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form {
          margin: 0px 14px; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form button {
            margin: 0px;
            background-color: #F6D55C; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item {
          padding: 14px; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item:nth-of-type(odd) {
            background-color: rgba(128, 128, 128, 0.1); }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content {
            width: 43vw; }
            section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content div.header {
              color: #173F5F; }
              section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content div.header span#date {
                margin: 0px 5px;
                font-size: 0.8em;
                color: #3CAEA3; }
            section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content span#editComment {
              float: right; }
              section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content span#editComment a.ui.mini.orange.basic.button {
                border-radius: 3px;
                padding: 5px !important;
                margin-bottom: 5px;
                border-top-color: purple !important; }
            section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form.ui.form.deleteCommentBtn {
              margin: 0px;
              display: inline;
              float: right; }
              section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form.ui.form.deleteCommentBtn div.inline.fields {
                display: inline; }
                section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form.ui.form.deleteCommentBtn div.inline.fields div.one.wide.field {
                  display: inline; }
                  section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form.ui.form.deleteCommentBtn div.inline.fields div.one.wide.field button {
                    border-radius: 3px;
                    padding: 5px !important;
                    margin-bottom: 5px; }
            section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content div.description {
              margin: 5px 7.5px; }
            section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form#update-comment-form {
              margin: 0px; }
              section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form#update-comment-form div.inline.fields {
                margin: 0px; }
                section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form#update-comment-form div.inline.fields div.update-comment-form-buttons {
                  display: flex; }
                  section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form#update-comment-form div.inline.fields div.update-comment-form-buttons button.ui.positive.button {
                    color: black !important; }
                  section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form#update-comment-form div.inline.fields div.update-comment-form-buttons button#commentUpdate, section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content form#update-comment-form div.inline.fields div.update-comment-form-buttons button#commentCancel {
                    width: 48%; }

div#campgrounds-title-container {
  padding: 15px 0px;
  text-align: center; }
  div#campgrounds-title-container h1 {
    text-transform: uppercase;
    font-size: 3.5rem; }
  div#campgrounds-title-container h1, div#campgrounds-title-container h4 {
    margin: 5px; }

article#campgrounds {
  padding: 0px 60px 60px 60px;
  margin: auto;
  min-height: 500px; }
  article#campgrounds section.card div.image {
    height: 155px; }
    article#campgrounds section.card div.image img {
      height: 155px; }
  article#campgrounds section.card div.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; }
    article#campgrounds section.card div.content div.meta h2 {
      margin: 0px;
      padding: 0px;
      font-size: 1.5em;
      color: #ED553B; }
    article#campgrounds section.card div.content div#buttonContainer {
      display: flex;
      justify-content: flex-end; }
      article#campgrounds section.card div.content div#buttonContainer button {
        background-color: #F6D55C; }

section#loginFormContainerParent {
  height: max-height; }

section#signUpFormContainerParent {
  height: max-height; }

#profile_sidebar,
#profile_camplist {
  margin: 10px; }

#profile_sidebar {
  width: 300px; }

#profile_camplist {
  width: 500px; }

#profile_listmetas {
  list-style-type: none; }

#profile_parentContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center; }

#profile_camplistitem {
  border: 1px solid gray;
  height: 135px;
  padding: 10px; }

#addReview_parentContainer {
  min-height: 100vh; }

#updateReview_parentContainer {
  min-height: 100vh; }

section div#formContainer {
  width: 500px;
  margin: 2.5% auto; }
  section div#formContainer form {
    width: 500px; }
    section div#formContainer form button {
      margin: 2.5% 0px;
      background-color: #F6D55C; }

footer.ui.inverted.segment {
  background-color: #173F5F; }

#reviews_parentContainer {
  min-height: 100vh; }

#reviews_parentInnerContainer {
  margin: 10px auto;
  width: 665px; }

#reviews_item {
  border: 1px solid grey;
  padding: 10px; }

#reviews_updateButton,
#reviews_deleteButton {
  transform: scale(0.8); }

#reviews_deleteForm {
  float: right; }

@media screen and (max-width: 630px) {
  nav.ui.borderless.main.menu div.ui.text.container div.nav.options {
    display: none; }
  header#headline div#headlineContainer {
    transform: scale(1.3); }
    header#headline div#headlineContainer h1 {
      font-size: 2.5em; }
    header#headline div#headlineContainer span {
      font-size: 1.1em; }
    header#headline div#headlineContainer i.fas {
      font-size: 2.5em; }
  header#headline form div.input {
    width: 100%; } }

@media screen and (max-width: 480px) {
  article#campgrounds {
    padding: 30px; }
    article#campgrounds section.card div#buttonContainer a button {
      font-size: 0.8rem !important; } }

@media screen and (max-width: 767px) {
  article#campgrounds section.card div.image {
    height: auto; }
    article#campgrounds section.card div.image img {
      height: auto; }
  article#campgrounds section.card div.description {
    display: block; }
  article#campgrounds section.card div#buttonContainer a button {
    font-size: initial; } }

@media screen and (max-width: 860px) {
  div.description {
    display: none; }
  div#buttonContainer a button {
    font-size: 0.8rem; } }

@media screen and (max-width: 600px) {
  section div#formContainer {
    width: auto;
    margin: 2.5% 2.5%; }
    section div#formContainer form {
      width: auto; } }

@media screen and (min-width: 200px) {
  div#description {
    display: block !important; } }

@media screen and (max-width: 767px) {
  section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form.deleteCampground {
    margin-bottom: 7.5px !important; }
    section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form.deleteCampground div.deleteCampground-parent {
      width: 100% !important; }
      section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form.deleteCampground div.deleteCampground-parent div.deleteCampground-inner {
        padding: 0px !important;
        width: 100% !important; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form.deleteCampground div.deleteCampground-parent div.deleteCampground-inner a#editButton, section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form.deleteCampground div.deleteCampground-parent div.deleteCampground-inner button#deleteButton {
          width: 50%; }
  section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form.review-form button#reviewButton {
    width: 100% !important;
    margin-top: 7.5px !important; }
  section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div#update-comment-form-input {
    display: flex;
    justify-content: center;
    padding-right: 0px !important; }
    section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div#update-comment-form-input input[type='text'] {
      width: 91.55%; }
  section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons {
    width: 100%;
    justify-content: center; }
    section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons button#commentUpdate, section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons button#commentCancel, section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons input[type='text'] {
      margin-top: 7.5px !important; }
    section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons button#commentCancel {
      margin-left: 7.5px !important; } }

@media screen and (max-width: 1000px) {
  section#campgroundParentContainer div#campgroundContainer {
    margin-top: 0px;
    margin-bottom: 0px; }
    section#campgroundParentContainer div#campgroundContainer article#sidebar {
      display: none; }
    section#campgroundParentContainer div#campgroundContainer article#campgroundCard {
      width: 100%;
      padding: 0px; }
      section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card {
        border-radius: 0px;
        width: 100%; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.image {
          border-radius: 0px;
          width: 100%; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.image img {
            border-radius: 0px;
            width: 100%; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.content {
          width: 100%; }
        section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list {
          width: 100%; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list form.review-form button#reviewButton {
            width: 20%; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item div.content {
            width: 100%; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons button#commentCancel {
            margin-left: 14px; }
          section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons button#commentUpdate, section#campgroundParentContainer div#campgroundContainer article#campgroundCard div.ui.card div.ui.celled.list div.item form#update-comment-form div.update-comment-form-buttons button#commentCancel {
            width: 45% !important; } }
