<%- include("partials/header") %>

<section>
    <div id="formContainer">

        <h1 class="ui header">
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24">
                <path
                    d="M19 24h-14v-2h14v2zm-10-24c.542 6.292-5 8.458-5 14 0 3.764 3.084 6.42 6.594 7.005-1.094-1.755-.073-4.286 1.406-5.693 1.531 1.469 2.344 4.156 1.281 5.688 3.868-.75 6.719-3.858 6.719-7.833 0-3.625-1.833-7.042-5.291-9.167.822 2.281-.271 4.365-1.334 5.083.063-2.921-1-7.255-4.375-9.083z" />
            </svg>
            <div class="content" style="margin: 0px 15px;">
                New Campground
                <div class="sub header">Add your awesome campground to our catalogue!</div>
            </div>
        </h1>

        <!-- error message -->
        <% if (error.length > 0) { %>
        <div class="ui negative message">
            <div class="header"><%= error %></div>
        </div>
        <% } %>

        <form class="ui form" action="/campgrounds/camps/new" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label for="Camp Name">Camp Name</label>
                <input type="text" id="Camp Name" name="name" placeholder="Wonder woods" autocomplete="off" required>
            </div>
            <div class="field">
                <label for="Camp Name">Price per night</label>
                <input type="number" id="Camp Name" name="price" placeholder="10.00" autocomplete="off" step="0.10"
                    min=".00" required>
            </div>
            <div class="field">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
            <div class="field">
                <label for="location">Location</label>
                <input type="text" id="location" placeholder="Arizona, USA" name="location" autocomplete="off" required>
            </div>
            <div class="field">
                <label for="description">Description</label>
                <textarea name="description" placeholder="Description" required
                    style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;"></textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>

    </div>
</section>

<%- include("partials/footer") %>