<%- include("partials/header") %>

<section id="forgotPasswordFormContainerParent">
    <div id="formContainer">

        <!-- success message -->
        <% if (success.length > 0) { %>
        <div class="ui positive message">
            <div class="header"><%= success %></div>
        </div>
        <% } %>

        <!-- error message -->
        <% if (error.length > 0) { %>
        <div class="ui negative message">
            <div class="header"><%= error %></div>
        </div>
        <% } %>

        <h1>Password Reset</h1>
        <form class="ui form" action="/campgrounds/users/forgot_password" method="POST">
            <div class="field">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" autocomplete="off" maxlength="50"
                    required>
            </div>
            <button class="ui button" type="submit">Reset</button>
        </form>

    </div>
</section>

<%- include("partials/footer") %>