<%- include("partials/header") %>

<section id="loginFormContainerParent">
    <div id="formContainer">

        <!-- error message -->
        <% if (error.length > 0) { %>
        <div class="ui negative message">
            <div class="header"><%= error %></div>
        </div>
        <% } %>

        <!-- login form -->
        <h1 class="ui header">
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24">
                <path
                    d="M12.451 17.337l-2.451 2.663h-2v2h-2v2h-6v-5l6.865-6.949c1.08 2.424 3.095 4.336 5.586 5.286zm11.549-9.337c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-3-3c0-1.104-.896-2-2-2s-2 .896-2 2 .896 2 2 2 2-.896 2-2z" />
            </svg>
            <div class="content" style="margin: 0px 15px;">
                Login
                <div class="sub header">Access awesome campgrounds in the country!</div>
            </div>
        </h1>

        <form class="ui form" action="/campgrounds/users/login" method="POST">
            <div class="field">
                <label for="Username">Username</label>
                <input type="text" id="Username" name="username" placeholder="Username" autocomplete="off"
                    maxlength="50" required>
            </div>
            <div class="field">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="password" placeholder="Password" autocomplete="off"
                    maxlength="50" required>
            </div>
            <div class="field">
                <label for="Admin">Admin Code</label>
                <input type="text" id="Admin" name="admin" placeholder="Admin Code" autocomplete="off" maxlength="50">
            </div>
            <button class="ui button" type="submit">Login</button>
            <a href="/campgrounds/users/forgot_password">
                <button class="ui button right floated" type="button">
                    Forgot Password
                </button>
            </a>
        </form>
    </div>
</section>

<%- include("partials/footer") %>