<%- include("partials/header") %>

<section id="signUpFormContainerParent">
    <div id="formContainer">

        <!-- error message -->
        <% if (error.length > 0) { %>
            <div class="ui negative message">
                <div class="header"><%= error %></div>
            </div>
        <% } %>

        <!-- sign up form -->
        <h1>Signup</h1>
        <form class="ui form" action="/campgrounds/signup" method="POST">
            <div class="field">
                <label for="Username">Username</label>
                <input type="text" id="Username" name="username" placeholder="Username" autocomplete="off" maxlength="50" required>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email" autocomplete="off" maxlength="50" required>
            </div>
            <div class="field">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="password" placeholder="Password"  autocomplete="off" maxlength="50" required>
            </div>
            <button class="ui button" type="submit">Sign Up</button>
        </form>

    </div>
</section>

<%- include("partials/footer") %>