section#campgroundParentContainer {
    height: fit-content;

    button.positive.ui.button {
        color: $campground-button-font-color;

        &:hover {
            color: $campground-button-font-color-hover;
        }
    }

    // wraps both side bar and campground
    div#campgroundContainer {
        width: fit-content;
        margin: 2.5% auto;
        display: flex;
        justify-content: center;

        // sidebar yellow navigation
        article#sidebar {

            div#sidebarNavigation {
                width: 20vw; // originally 300px
                position: sticky;
                top: 10px;
                background-color: $color-accent4;
                border-color: $color-accent4;

                a {
                    font-weight: bold;
                    color: $campground-button-font-color;

                    &:hover {
                        color: $campground-button-font-color-hover;
                    }
                }
            }

            /* Google Maps */
            div#map {
                outline: 1px solid white;
                height: 400px;
                width: 100%;
            }
        }

        // campground with the image, desctiption, price etc..
        article#campgroundCard {

            div.ui.card {
                width: $campground-card-width;

                div.image {
                    width: $campground-card-width;

                    img {
                        width: $campground-card-width;
                    }
                }

                div.content {
                    width: $campground-card-width;

                    span.header {
                        display: inline;
                        color: $color-accent1;
                    }

                    div#priceContainer {
                        display: inline;
                        float: right;

                        span#pricetag {
                            font-size: 1.25rem;
                            margin: 0px;
                        }
                    }

                    div.meta {
                        width: fit-content;

                        span.date {
                            color: $color-accent3;
                        }
                    }

                    div.description {
                        width: fit-content;
                        text-align: justify;
                    }
                }

                // comments section
                div.ui.celled.list {
                    width: $campground-card-width;

                    button#like_button {
                        background-color: transparent;
                        border: none;
                    }

                    #reviewsbutton, #modalbutton {
                        margin: 0px 2px;
                    }

                    // comment button
                    form {
                        margin: 14px;

                        button {
                            margin: 0px;
                            background-color: $color-accent4;
                        }
                    }

                    // comment box new
                    div.comment {
                        padding: 14px;

                        &:nth-of-type(odd) {
                            background-color: rgba(128, 128, 128, 0.1);
                        }

                        div.content {
                            div.text {
                                width: $campground-card-width - 5.5;
                            }
                        }
                    }
                }
            }
        }
    }
}