.hide {
    display: none;
}

.show {
    display: block;
}

#Image-Input {
    color: gray
}

#Image-File {
    height: 38px;
    padding-top: 5px;
}

#Default-Button,
#Update-Button {
    float: right;
}