#profile_sidebar,
#profile_camplist {
    margin: 10px;
}

#profile_sidebar {
    width: 300px;
}

#profile_camplist {
    width: 100%;
}

#profile_camplist_container {
    width: 100% !important;
    min-height: 350px; 
    // max-width: 500px;
    margin: 25px 0px;
}

#profile_listmetas {
    list-style-type: none;
}

#profile_parentContainer {
    min-height: $form-height-min;
    display: flex;
    justify-content: center;
}

#profile_camplistitem {
    border: 1px solid gray;
    height: 135px;
    padding: 10px;
}

@media screen and (max-width: 650px) {
    #profile_parentContainer {
        flex-direction: column;
        align-items: center;
    }

    #profile_listmetas > li,
    #profile_sidebar > h1 {
        text-align: center;
    }

    #profile_camplist {
        padding: 0px 25px;
    }
}