section#signUpFormContainerParent {
    min-height: $form-height-min;
    // to prevent white stripe at the bottom of the footer

    #Password_label, #Avatar_label {
        color: gray;
        font-size: smaller;
    }
}
